/* Project-list
--------------------*/
ul.projects {
  font-size: 1.17em;
  margin:0 0 4em 0; 
  list-style:none;}
  ul.projects li  {
    background: url(../../images/dark-rc.png) 100% 100% no-repeat; 
    height:81px;
    padding-top:10px; }
  ul.projects li.light  {
    background: url(../../images/light-rc.png) 100% 100% no-repeat; }
  ul.projects span {
		display:block;
    height: 91px;
    padding: 0 5px 0 3px; }
  ul.projects p {
    margin-bottom:0; }
  ul.projects p.thumbnail {
    width:100px;
    height:91px;
    float:left;
    padding: 0 8px 0 8px;
    background: url(../../images/task-corners.gif) no-repeat 0 0; }
  ul.projects li.light p.thumbnail {
    background: url(../../images/task-corners.gif) no-repeat 0 -182px; }
  ul.projects p.description {
    width:764px;
    float:left;
    padding: 5px 8px 0 8px;
    margin-top:0.3em;
    height:71px;
    background: url(../../images/sep.png) 0 0 no-repeat; }
  ul.projects p.description a {
		color:#f41b77;
		font-size:1.33em;
		font-weight:bold;
		text-decoration:none; }
  ul.projects p.description a:hover {
		color:#fff; }
  ul.projects p.description i {
		display:block;
		font-style:normal;		
		font-size:0.86em; 
		padding-top:0.5em; }
  ul.projects span.thumbnail {
		background:url(../../images/thumbnail.png) no-repeat scroll 0 0;
		height:52px;
		display:block;
		margin-top:10px;
		padding:4px;
		width:92px; } 
  ul.projects a.thumbnail {
		height:52px;
		display:block;
		width:92px; } 
		   
     
/* Projects2
----------------------*/     
  ul.projects2 p.thumbnail {
    width:120px; }
  ul.projects2 p.thumbnail img{
    margin:15px 0 0 0; }
  ul.projects2 span.thumbnail {
		background:url(../../images/thumbnail2.png) no-repeat scroll 0 0;
		height:53px;
		margin-top:15px;
		padding:0;
		width:117px; } 
  ul.projects2 a.thumbnail {
		height:53px;
		padding:0;
		width:117px; } 

/* Projects3
----------------------*/     
  ul.projects3 p.thumbnail,  ul.projects3 li.light p.thumbnail {
    width:223px; 
    background:url(../../images/thumbnail3.png) 50% 35% no-repeat;
    padding:20px 10px;
    height:51px; }
  ul.projects3 p.thumbnail span {
		height:auto;
		font-size:1em;
		margin:0 0 0 0.5em;
		color:#f41b77;
		padding:0;	
		font-weight:bold; } 
  ul.projects3 p.thumbnail i {
		font-size:0.8em;
		margin:0 0 0 0.63em;	
		color:#f41b77; } 
  ul.projects3 p.description {
    width:664px;
    float:left;
    padding: 5px 8px 0 8px;
    margin-top:0.3em;
    height:71px;
    background: url(../../images/sep.png) 0 0 no-repeat; }