ul
  &.projects
    font-size: 1.17em
    margin: 0 0 4em 0
    list-style: none

    li
      background: url(../../images/dark-rc.png) 100% 100% no-repeat
      height: 81px
      padding-top: 10px

      &.light
        background: url(../../images/light-rc.png) 100% 100% no-repeat

    span
      display: block
      height: 91px
      padding: 0 5px 0 3px

    p
      margin-bottom: 0

      &.thumbnail
        width: 100px
        height: 91px
        float: left
        padding: 0 8px 0 8px
        background: url(../../images/task-corners.gif) no-repeat 0 0

    li.light p.thumbnail
      background: url(../../images/task-corners.gif) no-repeat 0 -182px

    p.description
      width: 764px
      float: left
      padding: 5px 8px 0 8px
      margin-top: 0.3em
      height: 71px
      background: url(../../images/sep.png) 0 0 no-repeat

      a
        color: #f41b77
        font-size: 1.33em
        font-weight: bold
        text-decoration: none

        &:hover
          color: #fff

      i
        display: block
        font-style: normal
        font-size: 0.86em
        padding-top: 0.5em

    span.thumbnail
      background: url(../../images/thumbnail.png) no-repeat scroll 0 0
      height: 52px
      display: block
      margin-top: 10px
      padding: 4px
      width: 92px

    a.thumbnail
      height: 52px
      display: block
      width: 92px

  &.projects2
    p.thumbnail
      width: 120px

      img
        margin: 15px 0 0 0

    span.thumbnail
      background: url(../../images/thumbnail2.png) no-repeat scroll 0 0
      height: 53px
      margin-top: 15px
      padding: 0
      width: 117px

    a.thumbnail
      height: 53px
      padding: 0
      width: 117px

  &.projects3
    p.thumbnail, li.light p.thumbnail
      width: 223px
      background: url(../../images/thumbnail3.png) 50% 35% no-repeat
      padding: 20px 10px
      height: 51px

    p
      &.thumbnail
        span
          height: auto
          font-size: 1em
          margin: 0 0 0 0.5em
          color: #f41b77
          padding: 0
          font-weight: bold

        i
          font-size: 0.8em
          margin: 0 0 0 0.63em
          color: #f41b77

      &.description
        width: 664px
        float: left
        padding: 5px 8px 0 8px
        margin-top: 0.3em
        height: 71px
        background: url(../../images/sep.png) 0 0 no-repeat
