#player-profile {margin-bottom:4em;}
.profile .conyent {padding-bottom:4em;}
#player-profile #player {width:690px;padding:0;height:438px;overflow:hidden;float:none;}
#player-profile .p-content {margin-left:0;background:none;}
  .team .watch-project {
    position: absolute;
    display: none;
    width: 146px;
    height: 37px;
    background: url(../../images/actions.png) 0 -36px no-repeat;
    margin: -35px 0 0 55px; }
    .team .watch-project li {
      background: none;
      padding: 8px 5px 6px 33px;
      cursor: default; }
    .team .watch-project a {
			color:#fff;
			display:inline;
			background:none;
			padding:0;}
    .profile .team .watch-project a {
			display:inline;
			background:none;
			padding:0;}
form.search {
	margin-bottom:1.67em;
	margin-left:0;
	border:none;
	width:209px;
	} 
	form.search fieldset {
		border:none;
		padding:0;
		} 	
	form.search .input {
		margin:0;
		} 	
		form.search input.search {
		margin:7px 0 0 0;
		float:right;
		} 
	.profile .team li a {
		padding-left:22px;
		display:block;
		background:url(../../images/top-btns.png) -292px -5px no-repeat; }
#userpanel {
	/**/background:url(../../images/player.jpg);
	color:#fff;
	clear:both;
	overflow:hidden;
	}
	#userpanel  .content {
		padding-top:1.34em; 
		padding-bottom:1.34em; }
	#userpanel h3 {
		color:#fff;margin-bottom:2.3em; }

	body dl.user-info {margin-left:12px;margin-right:0;}	
	dl.user-info dd {width:537px;float:left;}	
	dl.user-info dd.u-pick {width:auto;max-width:122px;margin:4px 0 0 0;overflow:hidden;padding:5px;background:url(../../images/u-pic-bg.png);}	
	dl.user-info dd.u-pick img {border:1px solid #000;vertical-align:bottom;}	
	dl.user-info dd.username {margin-bottom:0.5em;}	
	dl.user-info dd.username a {color:#f41b77;font-size:1.5em;text-decoration:none;}	
	dl.user-info dd.username a:hover {color:#fff;}	
	dl.user-info dd.date i {color:#f41b77;font-style:normal}	
	dl.user-info dd.date .comment-t span {
		position:static;
		margin-left:0;
		height:4px;
		width:4px;
		background-position:100% -6px;}
	dl.user-info dd.comment {
		margin:10px 0 0 17px; }
	dl.user-info dd.date	.comment-c{
		padding:0 8px; }
	dl.user-info span.projects {display:block;padding:10px 0;}
		
	ul.comments {list-style:none;margin-left:0;margin-right:0;color:#575757;}	
	body dl.comments {margin-left:0;margin-right:0;margin-bottom:24px;overflow:hidden;}	
	dl.comments dd {width:537px;float:left;margin-left:2em}	
	dl.comments a {color:#f41b77;text-decoration:none;}	
	dl.comments a:hover {color:#f41b77;text-decoration:underline;}	
	dl.comments dd.u-pick {width:108px;margin-left:0;overflow:hidden;text-align:right;font-weight:bold;color:#4b4b4b;}	
	dl.comments dd.u-pick h3 {font-size:1.17em;text-align:right;font-weight:bold;color:#4b4b4b;}	
	dl.comments dd.u-pick a {font-size:1.17em;font-weight:bold;color:#4b4b4b;display:block;margin-bottom:1em;}	
	dl.comments dd.u-pick img {width:52px;border:1px solid #000;float:right;}	
	dl.comments dd.username h3 {color:#f41b77;}	
	dl.comments i.date {color:#f41b77;display:block;padding:0 0 10px 0;}	
	dl.comments dd.date .comment-t span {
		background-position:100% -6px;}
	dl.comments dd.comment {
		margin:7px 0 0 24px; }
	dl.comments dd.date	.comment-c{
		padding:0 8px; }

	.comment-t {
		position:absolute;
		height:4px;
		width:537px;
		display:block;
		margin-top:-4px;
		background:url(../../images/comment.png) 100% -41px no-repeat; }
	.comment-t span {
		position:absolute;
		margin-left:-13px;
		height:27px;
		width:17px;
		display:block;
		background:url(../../images/comment.png) 100% -55px no-repeat;}
	.comment-c{
		display:block;
		padding:5px 8px;
		background:url(../../images/comment-bg-medium.png); }
	.comment-b {
		height:4px;
		width:537px;
		display:block;
		background:url(../../images/comment.png) 100% -43px no-repeat; }
	.comment-b span {
		height:4px;
		width:4px;
		display:block;
		background:url(../../images/comment.png) 100% -51px no-repeat; }
		
/*dark*/
	.dark .comment-t {
		background:url(../../images/comment.png) 100% 0 no-repeat; }
	.dark .comment-t span {
		background:url(../../images/comment.png) 100% -14px no-repeat;}
	.dark .comment-c{
		background:url(../../images/comment-bg.png); }
	.dark .comment-b {
		background:url(../../images/comment.png) 100% -2px no-repeat; }
	.dark .comment-b span {
		background:url(../../images/comment.png) 100% -10px no-repeat; }


/*light*/
	.light .comment-t {
		background:url(../../images/comment.png) 100% -82px no-repeat; }
	.light .comment-t span {
		background:url(../../images/comment.png) 100% -96px no-repeat;}
	.light .comment-c{
		background:url(../../images/comment-bg-light.png); }
	.light .comment-b {
		background:url(../../images/comment.png) 100% -84px no-repeat; }
	.light .comment-b span {
		background:url(../../images/comment.png) 100% -92px no-repeat; }

ul.feedback {
	list-style:none;
	overflow:hidden;
	margin-left:0;
	margin-bottom:0;
	margin-right:0; }
	.feedback li {
		float:left;
		width:54px;
		height:23px;
		margin:0 10px 10px 0; 
		background-image:url(../../images/feedback.png);
		background-repeat:no-repeat;
		color:#828282;
		font-size:1.17em;
		padding:10px 0 0 10px; }
	.feedback li.flag {
		background-position:0 0; }
	.feedback li.cup {
		background-position:0 -33px; }
	.feedback li.time {
		background-position:0 -66px; }
	.feedback li.medal {
		background-position:0 -99px; }
	.feedback li.ball {
		background-position:0 -132px; }
	.feedback li.lamp {
		background-position:0 -165px; }