!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "description", :content => "Nerds United VFX, social short-and-video production platform" }
    %title
      Nerds United VFX
    %link{ :href => "stylesheets/blueprint/custom_blueprint.css", :rel => "stylesheet", :type => "text/css", :media => "screen, projection" }
    %link{ :href => "stylesheets/blueprint/screen.css", :rel => "stylesheet", :type => "text/css", :media => "screen, projection" }
    %link{ :href => "stylesheets/blueprint/print.css", :rel => "stylesheet", :type => "text/css", :media => "print" }
    /
      [if lt IE 8]><link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]
    %script{ :src => "/javascripts/common.js", :type => "text/javascript" }
  %body
    .container
      .header.span-20.prepend-4.last
        %h1.nuvfx
          %a{ :href => "#" }
            Nu vfx
            %span
        .column
          %ul.user.menu.right.top
            %li
              %a#header-usermenu-my-projects{ :href => "#" }
                my projects
            %li
              %a#header-usermenu-my-team{ :href => "#" }
                my team
            %li
              %a#header-usermenu-people{ :href => "#" }
                people
            %li
              %a#header-usermenu-profile{ :href => "#" }
                profile
            %li
              %a#header-usermenu-logout{ :href => "#" }
                logout
          .right
            %ul.menu
              %li
                %a#header-menu-blog{ :href => "#" }
                  blog
              %li
                %a#header-menu-features{ :href => "#" }
                  features
              %li
                %a#header-menu-plans{ :href => "#" }
                  plans
          .left
            %ul.menu
              %li
                %a#header-menu-home{ :href => "#" }
                  Home
              %li
                %a#header-menu-projects{ :href => "#" }
                  Projects
              %li
                %a#header-menu-people{ :href => "#" }
                  People
      .player.span-24
        /
          Video player goes here
      .content.span-24
        .points
          %h2
            Features
          %ul
            %li
              %a{ :href => "#" }
            %li
              %a.selected{ :href => "#" }
            %li
              %a{ :href => "#" }
            %li
              %a{ :href => "#" }
        .span-24.border-tb
          .span-6
            %a.image{ :href => "#" }
          .span-18.last
            %p
              %strong
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat ex
            %p
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        .span-24.border-b
          .points
            %h2
              VFX Projects
            %ul
              %li
                %a{ :href => "#" }
              %li
                %a{ :href => "#" }
              %li
                %a.selected{ :href => "#" }
              %li
                %a{ :href => "#" }
              %li
                %a{ :href => "#" }
              %li
                %a{ :href => "#" }
          .span-6
            %a.new{ :href => "#" }
            %a.image{ :href => "#" }
          .span-6
            %a.image{ :href => "#" }
          .span-6
            %a.image{ :href => "#" }
          .span-6.last
            %a.image{ :href => "#" }
        %h2
          VFX Community
        .span-11.append-1
          %h3
            Blog
          %ul.posts
            %li
              %p
                %span.date
                  Posted on 09-02-2010
                in
                %a{ :href => "#" }
                  VFX Community
                |
                %i
                  Commenti 1
              %p.title
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit
              %p
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore ...
            %li
              %p
                %span.date
                  Posted on 09-02-2010
                in
                %a{ :href => "#" }
                  VFX Community
                |
                %i
                  Commenti 1
              %p.title
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit
              %p
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore ...
            %li
              %p
                %span.date
                  Posted on 09-02-2010
                in
                %a{ :href => "#" }
                  VFX Community
                |
                %i
                  Commenti 1
              %p.title
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit
              %p
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore ...
        .span-6
          %h3
            New releases
          %ul.team
            %li
              %a.name{ :href => "#" }
                Nome progetto 1
              %i
                (5 members)
            %li
              %a.name{ :href => "#" }
                Nome progetto 1
              %i
                (5 members)
            %li
              %a.name{ :href => "#" }
                Nome progetto 1
              %i
                (5 members)
            %li
              %a.name{ :href => "#" }
                Nome progetto 1
              %i
                (5 members)
            %li
              %a.name{ :href => "#" }
                Nome progetto 1
              %i
                (5 members)
        .span-6.last
          %h3
            Support
          %ul.team
            %li
              %a.name{ :href => "#" }
                Nome progetto 1
              %i
                (5 members)
            %li
              %a.name{ :href => "#" }
                Nome progetto 1
              %i
                (5 members)
            %li
              %a.name{ :href => "#" }
                Nome progetto 1
              %i
                (5 members)
            %li
              %a.name{ :href => "#" }
                Nome progetto 1
              %i
                (5 members)
            %li
              %a.name{ :href => "#" }
                Nome progetto 1
              %i
                (5 members)
      .span-24
        /
          footer
