!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "description", :content => "Nerds United VFX, social short-and-video production platform" }
    %title
      Nerds United VFX
    %link{ :href => "stylesheets/blueprint/custom_blueprint.css", :rel => "stylesheet", :type => "text/css", :media => "screen, projection" }
    %link{ :href => "stylesheets/blueprint/screen.css", :rel => "stylesheet", :type => "text/css", :media => "screen, projection" }
    %link{ :href => "stylesheets/blueprint/print.css", :rel => "stylesheet", :type => "text/css", :media => "print" }
    /
      [if lt IE 8]><link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]
    %script{ :src => "javascripts/common.js", :type => "text/javascript" }
    %script{ :src => "javascripts/jquery-1.js", :type => "text/javascript" }
    %script{ :src => "javascripts/menu.js", :type => "text/javascript" }
  %body
    .container
      .header.span-20.prepend-4.last
        %h1.nuvfx
          %a{ :href => "#" }
            NU vfx
            %span
        .column
          %ul.menu.right.top
            %li
              %a#header-menu-help{ :href => "#" }
                help
            %li
              %a#header-menu-search{ :href => "#" }
                search
            %li
              %a#header-menu-sign-in{ :href => "#" }
                Sign In
          .right
            %ul.menu
              %li
                %a#header-menu-blog{ :href => "#" }
                  blog
              %li
                %a#header-menu-features{ :href => "#" }
                  features
              %li
                %a#header-menu-plans{ :href => "#" }
                  plans
          .left
            %ul.menu
              %li
                %a#header-menu-home{ :href => "#" }
                  Home
              %li
                %a#header-menu-projects{ :href => "#" }
                  Projects
              %li
                %a#header-menu-people{ :href => "#" }
                  People
      .content.span-24
        %h1
          Nome Progetto
        .span-16.append-1.colborder-r
          %h3
            Description
          %p
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          %h3
            Task
          %form.task{ :method => "post", :action => "#" }
            %fieldset
              %label
                New task
              %input.new-task{ :type => "button" }
              %label
                Actions
              %input.actions{ :type => "button" }
              %label
                Filters
              %input.filters{ :type => "button" }
              %input.input{ :type => "text" }
              %input.search{ :type => "submit", :value => "" }
            %table.tasks
              %tr
                %th
                %th{ :colspan => "2" }
                  Description
                %th
                  Status
                %th
                  Created on
              %tr.dark
                %td.white
                  %input.checkbox{ :type => "checkbox" }
                %td.thumbnail.lc
                  .thumbnail
                    %a.thumbnail{ :href => "#" }
                %td.task
                  Descrizione task descrizione task descrizio task [...]
                %td.action
                  %a.rec{ :href => "#" }
                %td.date
                  55 september
              %tr.light
                %td.white
                  %input.checkbox{ :type => "checkbox" }
                %td.thumbnail
                  .thumbnail
                    %a.thumbnail{ :href => "#" }
                %td.task
                  Descrizione task descrizione task descrizio task [...]
                %td.action
                  %a.play{ :href => "#" }
                %td.date
                  5 september
              %tr.dark
                %td.white
                  %input.checkbox{ :type => "checkbox" }
                %td.thumbnail
                  .thumbnail
                    %a.thumbnail{ :href => "#" }
                %td.task
                  Descrizione task descrizione task descrizio task [...]
                %td.action
                  %a.block{ :href => "#" }
                %td.date
                  5 september
              %tr.light
                %td.white
                  %input.checkbox{ :type => "checkbox" }
                %td.thumbnail
                  .thumbnail
                    %a.thumbnail{ :href => "#" }
                %td.task
                  Descrizione task descrizione task descrizio task [...]
                %td.action
                  %a.pause{ :href => "#" }
                %td.date
                  5 september
              %tr.dark
                %td.white
                  %input.checkbox{ :type => "checkbox" }
                %td.thumbnail
                  .thumbnail
                    %a.thumbnail{ :href => "#" }
                %td.task
                  Descrizione task descrizione task descrizio task [...]
                %td.action
                  %a.stop{ :href => "#" }
                %td.date
                  5 september
              %tr.light
                %td.white
                  %input.checkbox{ :type => "checkbox" }
                %td.thumbnail
                  .thumbnail
                    %a.thumbnail{ :href => "#" }
                %td.task
                  Descrizione task descrizione task descrizio task [...]
                %td.action
                  %a.rec-block{ :href => "#" }
                %td.date
                  5 september
          .page-navigation
            %ul.right
              %li
                %a{ :href => "#" }
                  1
              %li
                %span.current
                  2
              %li
                %a{ :href => "#" }
                  3
              %li
                %a{ :href => "#" }
                  4
              %li
                %a{ :href => "#" }
                  next
              %li
                %span
                  \...
              %li
                %a{ :href => "#" }
                  last
        .span-7.last
          %h3
            VFX Team
          .team
            %ul
              %li
                %a.name{ :href => "#" }
                  Leandro Pedroni
                %i
                  (creative director)
              %li
                %a.name{ :href => "#" }
                  Leandro Pedroni
                %ul.actions
                  %li
                    %a{ :href => "#" }
                  %li
                    %a{ :href => "#" }
                %i
                  (creative director)
              %li
                %a.name{ :href => "#" }
                  Leandro Pedroni
                %i
                  (creative director)
              %li
                %a.name{ :href => "#" }
                  Leandro Pedroni
                %i
                  (creative director)
              %li
                %a.name{ :href => "#" }
                  Leandro Pedroni
                %i
                  (creative director)
      .span-24
        /
          footer
