!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "description", :content => "Nerds United VFX, social short-and-video production platform" }
    %title
      Nerds United VFX
    %link{ :href => "stylesheets/blueprint/custom_blueprint.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
    %link{ :href => "stylesheets/blueprint/screen.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
    %link{ :href => "stylesheets/blueprint/project.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
    /
      [if lt IE 8]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <![endif]
    %script{ :type => "text/javascript" }
      var AUTH_TOKEN = "2TWmdHqG4mtqnFwuiGvq2w9qkCDfqMW/taZufeUg8lM=";
  %body
    #container.container
      .header.span-20.prepend-4.last
        %h1.nuvfx
          %a{ :href => "#" }
            Nerds United VFX
            %span
        .column.last
          %ul.user.menu.right.top
            %li
              %a#header-menu-help{ :href => "#" }
                help
            %li
              %a#header-menu-search{ :href => "#" }
                search
            %li
              %a{ :href => "/account" }
                ilpoldo
              %span
                (
                %a{ :href => "/sign_out" }
                  Sign Out
                )
          .right
            %ul.menu
              %li
                %a{ :href => "#" }
                  blog
              %li
                %a{ :href => "#" }
                  features
              %li
                %a{ :href => "#" }
                  plans
          .left
            %ul.menu
              %li
                %a{ :href => "/" }
                  Home
              %li
                %a{ :href => "/projects" }
                  Projects
              %li
                %a{ :href => "/people" }
                  People
              %li
                %a{ :href => "/people/ilpoldo" }
                  Profile
      .content.span-24
        %h1
          Projects
        %table.tasks.projects
          %tr.dark
            %td.thumbnail
              .thumbnail
                %a.thumbnail{ :href => "#" }
            %td.task
              .sep
                %h3.pink
                  Project name
                Descrizione task descrizione task descrizio task [...]
          %tr.light
            %td.thumbnail
              .thumbnail
                %a.thumbnail{ :href => "#" }
            %td.task
              .sep
                %h3.pink
                  Project name
                Descrizione task descrizione task descrizio task [...]
          %tr.dark
            %td.thumbnail
              .thumbnail
                %a.thumbnail{ :href => "#" }
            %td.task
              .sep
                %h3.pink
                  Project name
                Descrizione task descrizione task descrizio task [...]
        %table.tasks.projects2
          %tr.dark
            %td.thumbnail
              .thumbnail
                %a.thumbnail{ :href => "#" }
            %td.task
              .sep
                %h3.pink
                  Project name
                Descrizione task descrizione task descrizio task [...]
          %tr.light
            %td.thumbnail
              .thumbnail
                %a.thumbnail{ :href => "#" }
            %td.task
              .sep
                %h3.pink
                  Project name
                Descrizione task descrizione task descrizio task [...]
          %tr.dark
            %td.thumbnail
              .thumbnail
                %a.thumbnail{ :href => "#" }
            %td.task
              .sep
                %h3.pink
                  Project name
                Descrizione task descrizione task descrizio task [...]
        %table.tasks.projects3
          %tr.dark
            %td.thumbnail
              .thumbnail
                %h3.pink
                  Project name
                %h4.pink
                  Project name
            %td.task
              .sep
                %h3.pink
                  Project name
                Descrizione task descrizione task descrizio task [...]
          %tr.light
            %td.thumbnail
              .thumbnail
                %h3.pink
                  Project name
                %h4.pink
                  Project name
            %td.task
              .sep
                %h3.pink
                  Project name
                Descrizione task descrizione task descrizio task [...]
          %tr.dark
            %td.thumbnail
              .thumbnail
                %h3.pink
                  Project name
                %h4.pink
                  Project name
            %td.task
              .sep
                %p.strong
                  Lorem ipsum dolor sit amet, consectetuer
                %p
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidun...
    %script{ :src => "/javascripts/common.js", :type => "text/javascript" }
    %link{ :href => "/stylesheets/print.css", :rel => "stylesheet", :media => "print", :type => "text/css" }
