/* Some reset
----------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
img {border:none;}
table {border-collapse: collapse;border-spacing: 0;}

/* typography.css */
body {font-size:75%;color:#686868;background:#fff;font-family:Helvetica, Tahoma, sans-serif;}
.container h1, .container h2, .container h3, .container h4, .container h5, .container h6 {font-weight:normal;color:#f41b77;clear:both;}
.container h1 {font-size:3em;line-height:1;margin-bottom:1.15em;}
.container h2 {font-size:1.67em;margin-bottom:0.75em;}
.container h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
.container h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;height:1.25em;}
.container h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
.container h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
.container a {color:#686868;text-decoration:underline;}
.container a:hover {color:#f41b77;text-decoration:none;}
/*.container a:visited {color:#686868;text-decoration:none;}*/
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre, code {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;padding:0;}
.container ul, .cantainer ol {margin:0 1.5em 1.5em 1.5em;padding:0}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;background:#C3D9FF;}
th, td {padding:4px 10px 4px 5px;}
tr.even td {background:#E5ECF9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}
.content h3.pink {color:#f41b77;}

div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {
float:left;
display:block !important;
margin-right:10px;
}
.container .column {display:block !important;float:none;margin-right:0;}
.left {float:left;}
.right {float:right;}
.content h3, .content h4, .content h5, .content h6 {color:#000;}


/* Layout
----------------*/
.header {background:#000;color:#fff;padding-top:10em;padding-bottom:0.67em;}
.header .menu {list-style:none;margin:0;overflow:hidden;}
.header .right {clear:right;}
.header .right li {}
.header .top {margin-top:-9em;}
.header .top li a {font-size:18px;}
.header .menu li {float:left;margin-right:9px;color:#fff;font-size:20px;font-weight:bold;}
.header .menu a {float:left;margin-right:9px;color:#fff;text-decoration:none;}
.header .menu a:hover {color:#f41b77;}
.header .user li a {color:#da1c6f;font-size:12px;font-weight:normal;}
.header .user li a:hover {color:#fff;}
	.header h1 {top:0;z-index:1;overflow:hidden;text-align:center;margin-left:-160px;position:absolute;}
	.header h1,
	.header h1 span {position:absolute;width:124px;height:157px;}
		.header h1 span {display:block;top:0;left:0;z-index:2;background:url(../../images/nuvfx.png);}
.player {padding:2.25em 0;background:url(../../images/player.jpg) 0 0 repeat;}
.content {padding-top:2.67em;padding-bottom:2.67em;}
.right-sidebar {border-left:1px dotted #c0c0c0;}
.border-t,
.border-b,
.border-tb {border-width:1px 0 1px 0;border-color:#c0c0c0;border-style:dotted;padding:2.2em 0 0 0;margin-bottom:1.6em !important;}
.border-t {border-width:1px 0 0 0;}
.border-b {border-width:0 0 1px 0;padding-top:0;}


/* forms
---------------*/
form {border-width:1px 0 0 0;border-style:solid;border-color:#ccc;}
label {color:#adadad;font-style:italic;}
fieldset {padding:1.4em;margin:0 0 1.5em 0;}
legend {font-weight:bold;font-size:1.2em;}
input.text, input.title, textarea, select {margin:0.5em 0;border:1px solid #bbb;}
input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
form input.input {vertical-align:top;margin-left:0.8em;padding:5px 10px 0 10px;height:22px;width:189px;background:url(../../images/text-input.png) 0 0 no-repeat;border:0;color:#adadad;font-style:italic;}
form input.input:focus {border:none;}
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}


/* Form Task
------------------*/
.task label {padding:4px 0.30em 0 1em;display:block;float:left;height:23px;font-weight:normal;}
form.task input.input {display:block;float:left;height:27px;margin:0 0 0 0.8em; }
.task fieldset {padding:0.92em 0 0 0.75em;border:none;}
.new-task {background:url(../../images/icons-set1.png) 0 0 no-repeat;border:none;display:block;float:left;width:29px;height:27px;cursor:pointer;}
.actions {background:url(../../images/icons-set1.png) 0 -27px no-repeat;border:none;display:block;float:left;width:57px;height:29px;cursor:pointer;}
.filters {background:url(../../images/icons-set1.png) 0 -82px no-repeat;border:none;display:block;float:left;width:57px;height:29px;cursor:pointer;}
.search {background:url(../../images/icons-set1.png) 0 -55px no-repeat;border:none;display:block;float:left;width:76px;height:27px;cursor:pointer;margin-left:12px;}



/* Project Home
------------------------*/
table.tasks {font-size:1.17em;margin-top:4em;}/*border-top:10px solid #fff;*/
table.tasks tr {}
table.tasks td {height:91px;padding:0 5px 0 3px;}
table.tasks tr.dark td.white {padding:0 8px 0 0;background:#fff url(../../images/task-corners.gif) no-repeat 100% 10px;}
table.tasks tr.light td.white {padding:0 8px 0 0;background:#fff url(../../images/task-corners.gif) no-repeat 100% -172px;}
table.tasks tr.dark td {background:url(../../images/dark-rc.png) 0 100% no-repeat;}
table.tasks tr.light td {background:url(../../images/light-rc.png) 0 100% no-repeat;}
table.tasks tr.dark td.date {background-image:url(../../images/dark-rc.png);background-repeat:no-repeat;background-position:100% 100%;}
table.tasks tr.light td.date {background-image:url(../../images/light-rc.png);background-repeat:no-repeat;background-position:100% 100%;}
table.tasks th {background:none;}
table.tasks tr.dark td.white, table.tasks tr.light td.white {background-color:#fff;}
table.tasks td.thumbnail {padding-left:7px;}
table.tasks td.task {background:url(../../images/sep.png) 100% 50% no-repeat;}
table.tasks td.action {background:url(../../images/sep.png) 100% 50% no-repeat;padding:0;}

div.thumbnail {background:#fcfcfc url(../../images/thumbnail.png) 0 0 no-repeat;width:92px;height:52px;padding:4px;margin-top:10px;}
div.thumbnail a {display:block;width:100%;height:100%;overflow:hidden;}

.stop,
.pause,
.play,
.block,
.rec-block,
.rec {background-image:url(../../images/btns-set2.png);background-repeat:no-repeat;width:62px;height:42px;display:block;margin-top:5px;}

.rec {background-position:0 0;}
.play {background-position:0 -42px;}
.block {background-position:0 -84px;}
.pause {background-position:0 -126px;}
.stop {background-position:0 -167px;}
.rec-block {background-position:0 -210px;}

.page-navigation {overflow:hidden;}
.page-navigation ul {list-style:none;font-weight:bold;}
.page-navigation ul li {float:left;height:2.08em;font-size:1.17em;color:#b1b0b0;text-align:center;}
.page-navigation ul span {padding:0 0.82em;}
.page-navigation ul span.current {display:block;padding:0;height:1.8em;width:1.8em;text-align:center;background:url(../../images/page-nav.png) 0 0 no-repeat;color:#fff;}
.page-navigation ul a {color:#b1b0b0;display:block;padding:0;height:1.8em;width:1.8em;text-align:center;}

.team {color:#a7a7a7;margin:0 20px 0 0;}
.team ul {margin:0 20px 0 0;}
.team li {list-style:none;padding:4px 0 8px 0;background:url(../../images/dots.gif) 0 100% repeat-x;}
.team a {text-decoration:none;}
.team .actions {position:absolute;display:none;width:126px;height:37px;background:url(../../images/actions.png) 0 0 no-repeat;margin:-9px 0 0 -5px;}
.team .actions li  {width:29px;background:none;float:left;padding:7px 17px;cursor:default;}
.team .actions li a {width:33px;display:block;height:20px;}


/* HomeOK
------------------------*/
a.image {display:block;width:202px;height:120px;border:5px solid #dbdbdb;margin-bottom:2.2em;overflow:hidden;}
ul.posts {list-style:none;margin:0;}
ul.posts li {margin-bottom:2.8em;}
ul.posts a {font-weight:bold;text-decoration:none;color:#f41b77;}
ul.posts a:hover {color:#000;}
ul.posts a:visited {color:#f41b77;}
ul.posts p {margin:0;}
ul.posts p.title {font-size:1.33em;margin-top:0.5em;font-weight:bold;}
a.new {display:block;position:absolute;width:66px;height:68px;background:url(../../images/new.png) 0 0 no-repeat;margin:-15px 0 0 155px;}

div.points {overflow:hidden;padding-bottom:15px;}
div.points h2 {margin:0;}
div.points h2, div.points ul {float:left;overflow:hidden;}
div.points ul {list-style:none;margin:10px 0 0 16px}
div.points ul li {float:left;margin-left:7px;}
div.points ul a {display:block;width:14px;height:14px;background:url(../../images/points.png) 0 100% no-repeat;}
div.points ul a.selected {background-position:0 0;}
